/Target/*

!/Target/debug
!/Target/release
!/Target/x86_64-pc-windows-msvc
!/Target/wasm32-unknown-unknown
!/Target/wasm32-unknown-unknown/debug
!/Target/wasm32-unknown-unknown/release

/Target/debug/*
/Target/release/*
/Target/x86_64-pc-windows-msvc/*
/Target/wasm32-unknown-unknown/*
/Target/wasm32-unknown-unknown/debug/*
/Target/wasm32-unknown-unknown/release/*

!/Target/debug/bundle
!/Target/debug/bundle/nsis
!/Target/debug/bundle/msi
!/Target/debug/bundle/appimage

!/Target/debug/bundle/nsis/*.exe
!/Target/debug/bundle/msi/*.msi
!/Target/debug/bundle/appimage/*.AppImage

!/Target/debug/*.exe

!/Target/release/bundle
!/Target/release/bundle/nsis
!/Target/release/bundle/msi
!/Target/release/bundle/appimage

!/Target/release/bundle/nsis/*.exe
!/Target/release/bundle/msi/*.msi
!/Target/release/bundle/appimage/*.AppImage

!/Target/release/*.exe

!/Target/x86_64-pc-windows-msvc/bundle
!/Target/x86_64-pc-windows-msvc/bundle/nsis
!/Target/x86_64-pc-windows-msvc/bundle/msi
!/Target/x86_64-pc-windows-msvc/bundle/appimage

!/Target/x86_64-pc-windows-msvc/bundle/nsis/*.exe
!/Target/x86_64-pc-windows-msvc/bundle/msi/*.msi
!/Target/x86_64-pc-windows-msvc/bundle/appimage/*.AppImage

!/Target/wasm32-unknown-unknown/bundle
!/Target/wasm32-unknown-unknown/bundle/nsis
!/Target/wasm32-unknown-unknown/bundle/msi
!/Target/wasm32-unknown-unknown/bundle/appimage
!/Target/wasm32-unknown-unknown/bundle/nsis/*.exe
!/Target/wasm32-unknown-unknown/bundle/msi/*.msi
!/Target/wasm32-unknown-unknown/bundle/appimage/*.AppImage

!/Target/wasm32-unknown-unknown/debug
!/Target/wasm32-unknown-unknown/debug/*.wasm

!/Target/wasm32-unknown-unknown/release
!/Target/wasm32-unknown-unknown/release/*.wasm
